header{
    width: 100%;
    .titre{
        text-align: center;
        margin-bottom: 20px;
        h1{
            font-size: 30px;
            margin: 20px;
            h2{
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}