$background-color-left: rgb(0, 0, 95);
$background-color-right:bisque;
// $background-color-header: rgba(0, 0, 129, 0.4);
$underlined-color-right: rgb(0, 0, 95);
$color-title-left: bisque;
$color-text-left: rgb(236, 185, 123);
$color-text-right: rgb(29, 29, 29);
