@import '../vendor/normalize.scss';
@import 'variable.scss';
@import 'mixin.scss';

@import 'header.scss';
@import 'left.scss';
@import 'right.scss';

body{min-width: 375px;}

@media only screen and (min-width: 612px) {
    body{
        min-width: 612px;
        display: grid;
        grid-template-areas: "header header header"
                             "left right right"
                             "left right right"
                             "left right right";
    }
}