.right{
    padding: 30px 0;
    background-color: $background-color-right;
    .profil{
        text-align: center;
        .profil-title{
            @include right-title-h3
        }
        .profil-container{
            margin: auto;
            padding: 0 10%;
            .profil-content{
                @include right-text;
            }
        }
    }
    .skill{
        margin: 30px 8%;
        .skill-title{
            text-align: center;
            @include right-title-h3;
        }
        .skill-content{
            padding: 0 5%;
            list-style-image: url(../image/logo/check-solid\(2xl\).svg);
            @include right-text
        }
    }
    .experience{
        margin: 30px 0;
        .experience-title{
            @include right-title-h3;
            text-align: center
        }
        .experience-content{
            @include right-text;
            @include array;

        }
    }
    .training{
        .training-title{
            @include right-title-h3;
            text-align: center
        }
        .training-content{
            
            @include right-text;
            @include array;
        }
    }
}

@media only screen and (min-width: 612px) {
    .right{
        .profil{
            .profil-title{
                @include right-title-h3-responsive;
            }
            .profil-container{
                .profil-content{
                    font-size: $size-right-text;
                }
            }
        }
        .skill{
            .skill-title{
                @include right-title-h3-responsive;
            }
            .skill-content{
                font-size: $size-right-text;
            }
        }
        .experience{
            .experience-title{
                @include right-title-h3-responsive;
            }
            .experience-content{
                font-size: $size-right-text;
            }
        }
        .training{
            .training-title{
                @include right-title-h3-responsive;
            }
            .training-content{
                font-size: $size-right-text;
            }
        }
    }
}