body{
    main{
        #table{
            border: 1px solid black;
            #screen{
                border: 1px solid black;
                .button{
                    border: 1px solid black;
                    
                }
            }
        }
    }
}